<a href="https://colab.research.google.com/github/sumant1122/PythonBootcamp/blob/main/Session1_PythonBootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Bootcamp

My First Program : Hello World

In [ ]:
print("Hello World")

In [ ]:
# This is a comment
print("Welcome to Bootcamp")

# Variables and Data Types

In [ ]:
# here x is assigned a interger value
x = 7

In [ ]:
x

7

In [ ]:
y = 8

In [ ]:
x + y

15

In [ ]:
# here width is assigned a float value
width = 60.65

In [ ]:
print(width)

60.65

In [ ]:
# here name is assigned a string value
name = "Sumant"

In [ ]:
name

'Python'

In [ ]:
# here isNumeric is assigned a boolean value
isNumeric = True

In [ ]:
isNumeric

False

In [ ]:
print(f"My name is {name}")

My name is Sumant

examples of variables and data types in python

In [ ]:
# prompt: examples of variables and data types in python

x = 10  # integer
name = "Alice"  # string
price = 19.99  # float
is_active = True  # boolean
data = [1, 2, 3]  # list
mapping = {"a": 1, "b": 2}  # dictionary

# Conditons

In [ ]:
a = 60
b = 60

In [ ]:
if a > b:
  print("a is greater than b")

a is greater than b

In [ ]:
if a > b:
  print("a is greater than b")
elif a == b:
  print("a and b are equal")
else:
  print("b is greater than a")

a and b are equal

In [ ]:
# prompt: some examples of conditions in python

# example of if statement
x = 10
if x > 5:
  print("x is greater than 5")

# example of if-else statement
y = 3
if y % 2 == 0:
  print("y is an even number")
else:
  print("y is an odd number")

# example of if-elif-else statement
z = 0
if z > 0:
  print("z is positive")
elif z < 0:
  print("z is negative")
else:
  print("z is zero")

# example of using logical operators in conditions
temp = 25
if temp > 20 and temp < 30:
  print("The temperature is pleasant.")

is_raining = True
is_cold = False
if is_raining or is_cold:
  print("It might be a good idea to stay inside.")

is_sunny = True
if not is_sunny:
  print("It is not sunny.")

# example of nested conditions
score = 85
if score >= 60:
  if score >= 90:
    print("Excellent!")
  else:
    print("Pass")
else:
  print("Fail")

# Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# prompt: example of loops in python

# Example of a for loop iterating over a string
my_string = "Python"
for char in my_string:
  print(char)

# Example of using break in a loop
numbers = [1, 2, 3, 4, 5]
for num in numbers:
  if num == 3:
    break  # exit the loop when num is 3
  print(num)

# Example of using continue in a loop
more_numbers = [1, 2, 3, 4, 5]
for num in more_numbers:
  if num == 3:
    continue  # skip the rest of the current iteration when num is 3
  print(num)

# Example of nested loops
for i in range(3):
  for j in range(2):
    print(f"Outer loop: {i}, Inner loop: {j}")

P
y
t
h
o
n
1
2
1
2
4
5
Outer loop: 0, Inner loop: 0
Outer loop: 0, Inner loop: 1
Outer loop: 1, Inner loop: 0
Outer loop: 1, Inner loop: 1
Outer loop: 2, Inner loop: 0
Outer loop: 2, Inner loop: 1

example of loops in python

# Functions and Modules

In [ ]:
def my_function():
  print("Hello from a function")

my_function() #calling the function
my_function()
my_function()
my_function()

Hello from a function
Hello from a function
Hello from a function
Hello from a function

In [ ]:
def my_function_with_args(name):
    print(f"Hello, {name} from a function with arguments")

my_function_with_args("Alice")
my_function_with_args("Bob")
my_function_with_args("Charlie")

Hello, Alice from a function with arguments
Hello, Bob from a function with arguments
Hello, Charlie from a function with arguments

In [ ]:
def my_function_with_return(x, y):
    return x / y

result = my_function_with_return(5, 3)
print(f"Result of division: {result}")

Result of division: 1.6666666666666667

examples of functions in python

In [ ]:
# prompt: examples of functions in python

# Function with a default parameter value
def my_function_with_default(country = "Norway"):
  print("I am from " + country)

my_function_with_default("Sweden")
my_function_with_default("India")
my_function_with_default()
my_function_with_default("Brazil")

# Function with keyword arguments
def my_function_with_kwargs(child3, child2, child1):
  print("The youngest child is " + child3)

my_function_with_kwargs(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

# Function with arbitrary arguments (*args)
def my_function_with_args(*kids):
  print("The youngest child is " + kids[2])

my_function_with_args("Emil", "Tobias", "Linus")

# Function with arbitrary keyword arguments (**kwargs)
def my_function_with_kwargs(**kid):
  print("His last name is " + kid["lname"])

my_function_with_kwargs(fname = "Tobias", lname = "Refsnes")

# Function that returns multiple values
def my_function_multiple_returns(a, b):
  return a + b, a - b

sum_result, diff_result = my_function_multiple_returns(10, 5)
print(f"Sum: {sum_result}, Difference: {diff_result}")

# Lambda function (anonymous function)
x = lambda a : a + 10
print(x(5))

# Lambda function with multiple arguments
x = lambda a, b : a * b
print(x(5, 6))

# Lambda function within another function
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

In [ ]:
import math

print(math.sqrt(25))

5.0

In [ ]:
import random

print(random.randint(1, 10))

9

In [ ]:
from datetime import datetime

print(datetime.now())

2025-07-12 06:18:21.137845

# Data Structures : List

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Accessing elements in a list
print(my_list[0])
print(my_list[2])
print(my_list[-1]) # last element

1
3
5

In [ ]:
# Modifying a list
my_list[0] = 10
print(my_list)

[10, 2, 3, 4, 5]

In [ ]:
# Adding elements to a list
my_list.append(12) # add to the end
print(my_list)

[10, 2, 3, 4, 5, 12, 12, 12]

In [ ]:
# List length
print(len(my_list))

8

example of lists in python

In [ ]:
# prompt: example of lists in python

# Lists can contain elements of different data types
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)

# Slicing lists (getting a sub-list)
print(my_list[1:4]) # elements from index 1 up to (but not including) index 4
print(my_list[:3]) # elements from the beginning up to (not including) index 3
print(my_list[2:]) # elements from index 2 to the end
print(my_list[:])  # a copy of the whole list

# Checking if an element exists in a list
print(3 in my_list)
print(20 in my_list)

# Iterating over a list
for item in my_list:
  print(f"Item: {item}")

# List concatenation
another_list = [6, 7, 8]
combined_list = my_list + another_list
print(combined_list)

# List repetition
repeated_list = [0] * 5
print(repeated_list)

# Removing elements from a list
my_list.remove(3) # removes the first occurrence of the value 3
print(my_list)
my_list.pop(0)    # removes the element at index 0 and returns it
print(my_list)
# You can also use del keyword
del my_list[1] # removes the element at index 1
print(my_list)

# Sorting a list
unsorted_list = [5, 2, 8, 1, 9]
unsorted_list.sort()
print(unsorted_list)

# Reversing a list
unsorted_list.reverse()
print(unsorted_list)

# Creating a list using list comprehension
squares = [x**2 for x in range(10)]
squares

# Data Structures : Dictionaries

In [ ]:
# Creating a dictionary
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [ ]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Accessing values
print(car["brand"])
print(car.get("model"))
print(car.get("wheels"))

Ford
Mustang
None

In [ ]:
# Iterating through a dictionary
for key, value in car.items():
    print(f"Key: {key}, Value: {value}")

Key: brand, Value: Ford
Key: model, Value: Mustang
Key: year, Value: 1964

example of dictionaries in python

In [ ]:
# prompt: example of dictionaries in python

# Adding or updating elements
car["color"] = "red"  # Add a new key-value pair
print(car)
car["year"] = 2020     # Update the value for 'year'
print(car)

# Removing elements
del car["model"]      # Remove element by key
print(car)
# You can also use .pop()
# removed_year = car.pop("year")
# print(car)
# print(f"Removed year: {removed_year}")

# Dictionary length
print(len(car))

# Checking if a key exists
print("brand" in car)
print("wheels" in car)

# Getting all keys, values, or items
print(car.keys())
print(car.values())
print(car.items())

# Dictionary with different data types as values
student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science",
    "is_enrolled": True,
    "courses": ["Math", "Physics", "Programming"]
}
student

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'year': 2020, 'color': 'red'}
3
True
False
dict_keys(['brand', 'year', 'color'])
dict_values(['Ford', 2020, 'red'])
dict_items([('brand', 'Ford'), ('year', 2020), ('color', 'red')])

{'name': 'Alice',
 'age': 20,
 'major': 'Computer Science',
 'is_enrolled': True,
 'courses': ['Math', 'Physics', 'Programming']}